<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="FishRouter" Language="1033" Version="$(var.Version)" Manufacturer="FishRouter" UpgradeCode="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of FishRouter is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="LICENSE" />

    <UIRef Id="WixUI_Minimal" />

    <Feature Id="ProductFeature" Title="FishRouter" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StaticFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="FishRouter" />
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Guid="*" Win64="yes">
        <File Id="FishRouterExe" Source="FishRouter.exe" KeyPath="yes" />
      </Component>
      <Component Id="ServerExe" Guid="*" Win64="yes">
        <File Id="ServerExeFile" Source="fishrouter-server.exe" />
      </Component>
      <Component Id="ConfigJson" Guid="*" Win64="yes">
        <File Id="ConfigJsonFile" Source="config.json" />
      </Component>
      <Component Id="ReadmeMd" Guid="*" Win64="yes">
        <File Id="ReadmeMdFile" Source="README.md" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="StaticFiles" Directory="INSTALLFOLDER">
      <Component Id="DistIndexHtml" Guid="*" Win64="yes">
        <File Id="IndexHtml" Source="static\dist\index.html" />
      </Component>
      <Component Id="FaviconIco" Guid="*" Win64="yes">
        <File Id="FaviconFile" Source="static\favicon.ico" />
      </Component>
      <Component Id="AssetsJs" Guid="*" Win64="yes">
        <File Id="AssetsJsFile" Source="static\dist\assets\index-CAjUMjF7.js" />
      </Component>
      <Component Id="AssetsCss" Guid="*" Win64="yes">
        <File Id="AssetsCssFile" Source="static\dist\assets\index-DfKb1GcC.css" />
      </Component>
    </ComponentGroup>

    <Component Id="ApplicationShortcut" Guid="*" Directory="ProgramMenuFolder">
      <Shortcut Id="ApplicationStartMenuShortcut" Name="FishRouter" Target="[INSTALLFOLDER]FishRouter.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="ProgramMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\FishRouter" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Product>
</Wix>